 <div class="row justify-content-lg-between circle-blend-right circle-danger about">
            

            <div class="col-6 col-sm-4 col-lg-auto mb-3">
                <h6 class="my-4 fw-bold fs-0">CONTACT</h6>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="mb-2"><a class="text-1100 text-decoration-none" href="#!">E-mail</a></li>
                    <li class="mb-2"><a class="text-1100 text-decoration-none" href="#!">Call Us </a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-auto mb-3">
                <h6 class="my-4 fw-bold fs-0">RESOURCES</h6>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="mb-2"><a class="text-1100 text-decoration-none" href="#!">About Us</a></li>
                    <li class="mb-2"><a class="text-1100 text-decoration-none" href="#!">Partners</a></li>
                    <li class="mb-2"><a class="text-1100 text-decoration-none" href="#!">Leadership</a></li>
                    <li class="mb-2"><a class="text-1100 text-decoration-none" href="#!">News</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-auto mb-3">
                <h6 class="my-4 fw-bold fs-0"></h6>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="mb-2"><a class="text-1100 text-decoration-none" href="#!"></a></li>
                    <li class="mb-2"><a class="text-1100 text-decoration-none" href="#!"></a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-auto mb-3">
                <h6 class="my-4 fw-bold fs-0">FOLLOW</h6>
                <ul class="list-unstyled list-inline my-3">
                    <li class="list-inline-item me-3"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="assets/img/icons/facebook.svg" alt="" /></a></li>
                    <li class="list-inline-item me-3"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="assets/img/icons/twitter.svg" alt="" /></a></li>
                    <li class="list-inline-item me-3"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="assets/img/icons/instagram.svg" alt="" /></a></li>
                    <li class="list-inline-item"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="assets/img/icons/snapchat.svg" alt="" /></a></li>
                </ul>
            </div>
        </div>