<div class="card">
  <ul class="list-group list-group-flush grid">
  <!-- *ngFor="let file of fileUploads" -->
    <li>
      <figure class="grid__figure">
        <img src="https://picsum.photos/300/200/?random" alt="">
        <figcaption>Vehicula Quam Nibh</figcaption>
      </figure>
    </li>
    
      <div class="card-header">List of Files</div>
     
        <li class="list-group-item">
         <!-- <app-upload-details [fileUpload]='file'></app-upload-details>-->
        </li>
      </ul>
    
   
 
</div>