<section id="home">
    <div class="container">
        <div class="row align-items-center g-2">
            <div class="col-md-7 col-lg-6 py-6 text-md-start text-center">
                <h6 class="fs-0 text-uppercase fw-bold text-600">PITS</h6>
                <h1 class="fw-bold fs-4 fs-lg-6 fs-xxl-7 text-primary"> Entrepreneurship <br /><br />Cell</h1>
            </div>
        </div>
    </div>
</section>



<section class="py-6">

    <div class="container">
        <div class="row flex-center">
            <div class="col-md-6 col-lg-4 text-center mb-6 mb-md-0 order-0"><img class="shadow-lg" src="assets/img/gallery/partnership.png" width="500" height="400" alt="..." style="border-radius:3rem;" /></div>
            <div class="col-md-6 text-center text-md-start mb-6 offset-0">
                <h6 class="fs-0 text-uppercase fw-bold text-primary">About</h6>
                <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Parisutham Institute of Technology&amp; and Science</h6>
                <p class="my-4 fs-1 pe-xl-8">Parisutham Institute of Technology and Science (PITS) is an engineering institution in Thanjavur, Tamil Nadu, India. It's a NAAC "A" Grade Accredited college. The institution is approved by the All India Council for Technical Education (AICTE) & is affiliated to Anna University, Chennai. The institution had earlier been affiliated to Anna University of Technology, Tiruchirappalli before the merger[1] on 15 September 2011.</p><a class="btn hover-top btn-collab" href="https://www.parisuthamtech.com/" role="button">Learn more</a>
            </div>
        </div>
  
    </div>
</section>


<section class="py-md-0 bg-warning-gradient">

    <div class="container">
        <div class="row flex-center">
            <div class="col-md-6"> <img class="w-100 w-lg-75 d-none d-md-block" src="assets/img/gallery/cta.png" width="320" alt="cta" /></div>
            <div class="col-md-6">
                <h1 class="fw-bold fs-4 fs-lg-5 fs-xl-6 mb-4 text-primary">Abourt E-cell<br class="d-none d-xl-block" />with us!</h1><a class="btn hover-top btn-collab" routerLink="/about">About</a>
            </div>
        </div>
    </div>

</section>



<section class="py-md-0">


    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-7 col-lg-8 offset-lg-1">
                <h1 class="fw-bold fs-4 fs-lg-6 mb-4 text-white"> <br class="d-none d-xxl-block" />With our </h1><a class="pe-2" href="https://www.apple.com/app-store/" target="_blank"></a>
            </div>
        </div>
    </div>
</section>


<section>

    <div class="container">
        <div class="row flex-center mt-5">
            <div class="col-lg-6">
                <h4 class="fw-bold">For more Connect, Subscribe now</h4>
                <p class="fs-1"> </p>
            </div>
            <div class="col-lg-6 d-flex justify-content-lg-end mb-4">
                <form class="row row row-cols-lg-auto align-items-center">
                    <div class="col-8 col-sm-9">
                        <label class="visually-hidden" for="colFormLabel">Username</label>
                        <div class="input-group">
                            <input class="form-control" id="colFormLabel" type="email" placeholder="Enter email address" />
                        </div>
                    </div>
                    <div class="col-4 col-sm-3 text-end">
                        <button class="btn btn-collab" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="text-200" />
      <app-about></app-about>
        <hr class="text-200 mb-0" />

    </div>
    <!-- end of .container-->

</section>

